/* 設定全域樣式 */
body {
    font-family: Arial, sans-serif; /* 字體 */
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    font-size: 5vw;
}

/* 宣告電腦版不支援 */
#alertPcNoRwd {
    display: none;
}
@media screen and (min-width:576px) {
    #alertPcNoRwd {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: aqua;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center; /* 水平置中 */
        align-items: center; /* 垂直置中 */
    }
    #alertPcNoRwd > p {
        text-align: center;
        color: #d4b100;
        font-size: 5vw;
        font-weight: bold;
    }
}

/* 標題樣式 */
h1 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
}

/* 段落樣式 */
p {
    text-align: center;
    color: #666;
    font-size: 1em;
}

/* 輪播圖 */
.carousel {
    position: relative;
    width: 80vw;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}