/* 設定全域樣式 */
body {
    font-family: Arial, sans-serif; /* 字體 */
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    font-size: 5vw;
}

/* 宣告電腦版不支援 */
#alertPcNoRwd {
    display: none;
}
@media screen and (min-width:576px) {
    #alertPcNoRwd {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: aqua;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center; /* 水平置中 */
        align-items: center; /* 垂直置中 */
    }
    #alertPcNoRwd > p {
        text-align: center;
        color: #d4b100;
        font-size: 5vw;
        font-weight: bold;
    }
}

/* 標題樣式 */
h1 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
}

/* 段落樣式 */
p {
    text-align: center;
    color: #666;
    font-size: 1em;
}

/* 地圖 */
.map-container {
    width: 80vw;
    /* 外框的寬度 */
    height: 80vw;
    /* 外框的高度 */
    margin: 10vw 10vw;
    /* 設定外邊界 */
    overflow: hidden;
    /* 隱藏超出外框的內容 */
    position: relative;
    /* 使子元素可以絕對定位 */
}

#map {
    position: absolute;
    /* 允許地圖進行平移和縮放 */
    transition: transform 0.5s ease;
    /* 平滑過渡效果 */
    
    width: 80vw;
}


/* 輪播圖 */
/* 設置輪播圖的容器 */
.carousel {
    position: relative; /* 設置相對定位，方便內部元素絕對定位 */
    width: 80vw; /* 設置寬度為視口寬度的80% */
    margin: auto; /* 使容器居中 */
    overflow: hidden; /* 隱藏超出容器的內容 */
}

/* 設置輪播圖內部的容器 */
.carousel-inner {
    display: flex; /* 使用彈性盒子布局 */
    transition: transform 0.5s ease; /* 設置過渡效果，持續0.5秒 */
}

/* 設置每個輪播項目 */
.carousel-item {
    min-width: 100%; /* 每個項目的最小寬度為100% */
    box-sizing: border-box; /* 包括內邊距和邊框在內計算寬度 */
}

/* 設置輪播圖中的圖片 */
.carousel img {
    width: 100%; /* 設置圖片寬度為100% */
    height: 100%; /* 設置圖片高度為100% */
    object-fit: cover; /* 圖片按比例填充容器 */
}

/* 設置輪播圖的控制按鈕 */
.carousel-control {
    position: absolute; /* 絕對定位 */
    top: 50%; /* 垂直居中 */
    transform: translateY(-50%); /* 垂直居中對齊 */
    background-color: rgba(0, 0, 0, 0.5); /* 背景顏色為半透明黑色 */
    color: white; /* 字體顏色為白色 */
    border: none; /* 無邊框 */
    padding: 10px; /* 內邊距為10像素 */
    cursor: pointer; /* 鼠標指針變為手型 */
}

/* 設置上一張按鈕的位置 */
.carousel-control.prev {
    left: 10px; /* 距離左邊10像素 */
}

/* 設置下一張按鈕的位置 */
.carousel-control.next {
    right: 10px; /* 距離右邊10像素 */
}